body {
    background-color: #161718;
    font-family: "Kode Mono", monospace;
}

body > div {
    background-color: black;
    padding: 25px;
    margin: 49px 50px;
}

#logo {
    width: 70px;
}

.skaiciuokles-header {
    border: 5px solid #0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px #0f0, inset 0 0 10px #0f0;
}

.skaiciuokles-pavadinimas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35em;
    color: white;
}

.skaiciuokles-pavadinimas h2 {
    font-family: "Kode Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
}

.skaiciuokles-container {
    background-color: black;
    border: 2px solid #0f0;
    box-shadow: 0 0 10px #0f0;
    border-radius: 20px;
}


.inputs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

input {
    width: 11em;
    height: 3em;
    font-size: 30px;
    border: 2px solid #0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px #0f0, inset 0 0 10px #0f0;
    text-align: center;
    color: white;
    outline: none;
    background: transparent;
    font-family: "Kode Mono", monospace;
    font-weight: 400;
}

input::placeholder {
    font-size: 20px;
    text-align: center;
    color: rgb(175, 173, 173);
}

.input-2 {
    margin: 0 0 20px 0;
}

.input-4 {
    background-color: rgb(24, 22, 22);
}

.result-box {
    max-height: 120px;
    overflow-y: scroll;
    display: block;
    border-radius: 5px;
}

.result-box hr {
    background-color: #0f0;
    height: 2px;
    border: none;
    box-shadow: 0 0 10px #0f0, inset 0 0 10px #0f0;
}

.result-box ul {
    border: 1px solid #0f0;
    padding: 10px 10px;
    margin: 0;
    background: transparent;
    color: white;
    box-shadow: 0 0 10px #0f0, inset 0 0 10px #0f0;
}

.result-box ul li {
    list-style: none;
    border: 3px;
    padding: 10px 10px;
    cursor: pointer;
}

.result-box ul li:hover {
    background-color: #0f0;
    border-radius: 5px;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 50px 0 0 0;
    gap: 30px;
}

.btn button {
    border: none;
    border-radius: 10px;
    background-color: #0f0;
    cursor: pointer;
    width: 150px;
    height: 40px;
    font-family: "Kode Mono", monospace;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

.btn button:hover {
    background-color: rgb(25, 212, 25);
    box-shadow: 0 0 10px #0f0;
}

.btn2 button {
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    font-family: "Kode Mono", monospace;
    font-weight: 700;
}